.container {
  margin: 50px 0px;
}

.card {
  margin: 0 2% !important;
}

.infected {
  background-color: rgba(102, 179, 255) !important;
  border-bottom: 10px solid rgba(0, 0, 255);
  padding-bottom: 20px;
}

.recovered {
  background-color: rgba(102, 179, 255) !important;
  border-bottom: 10px solid rgba(0, 0, 255);
  
}

.deaths {
  background-color: rgba(102, 179, 255) !important;
  border-bottom: 10px solid rgba(0, 0, 255);
  
}

.active {
  background-color: rgba(102, 179, 255) !important;
  border-bottom: 10px solid rgba(0, 0, 255);
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}